* {
    margin: 0;
    padding: 0;
    list-style: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: "微软雅黑", "Microsoft YaHei";
}
.clearfix:after {
    content: ' ';
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}
.header {

}
.header img {
    vertical-align: top;
}
.container {
    margin: 0 40px;
}
.title {
    height: 85px;
    padding-left: 80px;
    border-bottom: 5px solid #f1faff;
    background: url(../img/icon_userinfo.png) left top transparent no-repeat;
    line-height: 1;
}
.title .title-cn {
    float: left;
    font-size: 34px;
    color: #058b98;
    margin-top: 14px;
}
.title .title-en {
    float: left;
    font-size: 18px;
    color: #9d9d9d;
    margin-top: 30px;
    margin-left: 30px;
}
.left {
    float: left;
}
.right {
    float: right;
}

/* radio */
.radio-wrapper {
    /*display: inline-block;*/
    display: block;
    font-size: 28px;
    color: #5d5d5d;
}
.radio-wrapper input[type="radio"] {
    width: 0;
    height: 0;
    visibility: hidden;
}
.radio-wrapper label {
    position: relative;
    padding-left: 40px;
}
.radio-wrapper label:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    width: 22px;
    height: 22px;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
}
.radio-wrapper input[type="radio"]:checked + label:before {
    content: ' ';
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-color: #f67a00;
    border-radius: 50%;
}

/* ckeckbox */
.checkbox-wrapper {
    /*display: inline-block;*/
    display: block;
    font-size: 28px;
    color: #5d5d5d;
}
.checkbox-wrapper input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}
.checkbox-wrapper label {
    position: relative;
    padding-left: 40px;
}
.checkbox-wrapper label:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    width: 22px;
    height: 22px;
    border: 2px solid #e4e4e4;
    border-radius: 3px;
}
.checkbox-wrapper input[type="checkbox"]:checked + label:before {
    content: ' ';
    position: absolute;
    left: 1px;
    top: 50%;
    margin-top: -18px;
    width: 28px;
    height: 27px;
    z-index: 2;
    background: url(../img/icon-check.png) left top no-repeat transparent;
}


/* button */
.btn-wrapper {
    padding-bottom: 20px;
    margin-top: 64px;
    text-align: center;
}
.btn-wrapper .btn {
    height: 90px;
    line-height: 90px;
    background-color: #058b98;
    font-size: 30px;
    color: #fff;
    border-radius: 6px;
}

.field-input.calendar-input input{
    width: 404px !important;
}

.mock-date {
    color: #000 !important;
    text-decoration: none;
}